<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    title=user.name
    <meta name="description" content="">
    link(rel="shortcut icon", href="/assets/img/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="/assets/css/main.css")
    link(href="/assets/css/bootstrap.min.css", rel="stylesheet")
    link(href="/assets/css/font-awesome.min.css", rel="stylesheet")
    script(src="/assets/js/vendor/jquery.min.js")
    script(src="/assets/js/bootstrap.min.js")
    style(type="text/css").
      .logo {
          background-image: url(!{user.logo});
          background-repeat: no-repeat;
          background-size: 50px;
          height: 50px;
          margin-left: 10px;
          position: absolute;
          top: 4px;
          width: 50px;
      }
</head>

<body>
    <div class="full-height">
        <div class="site-header">
            <a href="/">
                <div class="logo"></div>
            </a>
        </div>
        <div class="container">
            <div>
                <div class="col-md-4 col-sm-6">
                    <div class="row">
                        img(src='' + user.propic,  class="col-xs-8 col-xs-offset-2 img-fit")
                    </div>
                    h2=user.name
                    hr
                    p=user.bio
                    <br>
                    <br>
                    <br>
                    <div class="social-links">
                        if user.github
                            a(href=user.github)
                                <i class="fa fa-github" aria-hidden="true"></i>
                        if user.linkedin
                            a(href=user.linkedin)
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        if user.facebook
                            a(href=user.facebook)
                                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        if user.spotify
                            a(href=user.spotify)
                                <i class="fa fa-spotify" aria-hidden="true"></i>
                        if user.instagram
                            a(href=user.instagram)
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                        if user.resume
                            a(href=user.resume)
                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        if user.email
                            a(href="mailto:" + user.email)
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <hr>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <ul class="list-unstyled">
                    each category in user.categories
                        <li>
                          <div class="col-xs-12">
                            <h3>
                            a(id='' + category.title, href='' + category.url)=category.title
                            </a>
                          </h3>
                          <hr>
                          </div>
                        </li>
                    <li>
                      <div class="col-xs-12">
                        <h3>
                        a(id="About", href="/about") About
                        </h3>
                        <hr>
                      </div>
                    </li>
                    <li>
                      <div class="col-xs-12">
                        <h3>
                        a(id="Contact", href="/contact") Contact
                        </h3>
                        <hr>
                      </div>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer class="site-footer">
        <div class="container footer-container">
            <div class="pull-left">
                a(href="mailto:" + user.email)
                    p Contact
            </div>
            div(class="pull-right")='© ' + user.name + '.'
        </div>
    </footer>
    <script>
    </script>
</body>

</html>